body {
  background-color: #606;
  font-family: 'Raleway', sans-serif;

  animation-duration: 0.5s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: changecolor;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: changecolor;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
}

h5 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

p {
  color: #fff;
  font-size: 1.4em;
}


.center {
  margin-right: auto;
  margin-left: auto;
}

.twitter-timeline {
  width: 100% !important;
}

img.tree {
  margin-right: auto;
  margin-left: auto;

  display: block;
  margin-top: 16px;
  width: 90%;
}

img.logo {
  display: block;
  height: 8em;
  margin: 0 auto;
}

img.weather {
  width: 100%;
  margin-bottom: 8px;
 }

.main {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: rgba(0,0,0, .3);
  padding: 16px;
}

@media (min-width: 960px) {
  h1 {
    font-size: 6em;
    margin-bottom: 50px;
    text-align: left;
  }

  .main {
    width: 60%;
  }

  img.logo {
    float: left;
    margin-left: 20% !important;
  }
}

@-moz-keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}

@-webkit-keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}

@keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}
