body {
  background-color: #606;
  font-family: 'Raleway', sans-serif;

  animation-duration: 0.5s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: changecolor;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: changecolor;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 4em;
  font-family: 'Dancing Script', cursive;
}

.main {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: rgba(0,0,0, .3);
  padding: 16px;
}

@media (min-width: 960px) {
  h1 {
    font-size: 8em;
  }

  .main {
    width: 60%;
  }
}

@-moz-keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}

@-webkit-keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}

@keyframes changecolor {
  from {
    background-color: #660066;
  }

  to {
    background-color: #ffff00;
  }
}
